.mainWrapper {
    padding: 10px;
    border: orange solid 1px;
}

.range1Wrapper {
    display: flex;
    justify-content: center;
}

.range2Wrapper {
    display: flex;
}

.valueVisualisation {
    margin-right: 5px;
    min-width: 40px;

    color: white;
    font-size: 20px;
    line-height: 20px;
    text-align: right;
}