.dateWrapper {
    text-align: center;
    min-height: 70px;

    color: white;
}

.clockWrapper {
    font-size: 25px;
    font-weight: bold;
}

.dayWrapper {
    font-size: 20px;
}

.buttonWrapper {
}

.button {
    padding: 3px;
    min-width: 60px;
}