* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.outWrapper {
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-color: #89a162;
}

.imgWrapper {
    height: 50px;
    width: 50px;
    text-align: center;
    border-radius: 50%;
}

.avatarImg {
    height: 100%;
    border-radius: 50%;
}

.messageWrapper {
    position: relative;
    width: 40%;
    min-width: 300px;
    min-height: 50px;
    background-color: rgba(137, 183, 250, 0.58);
    display: flex;
    /*border: red 1px solid;*/
    border-radius: 8px 8px 0 8px;
}

.messageContain {
    width: 80%;
    padding: 10px 0 10px 10px;
}

.messageName {
    color: #040df6;
}

.messageText {
    font-weight: 500;
    color: #343434;
}

.messageTimeWrapper {
    padding: 3px;
    position: relative;
    flex-grow: 1;
    /*border: black 1px solid;*/
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.messageTime {
    font-weight: 600;
    color: brown;
}

.triangleWrapper {
    padding-right: 20px;
    overflow: hidden;
}

.triangle {
    position: absolute;
    bottom: 0;
    right: -20px;
    /*border-top: transparent 8px solid;*/
    /*border-right: antiquewhite 17px solid;*/

    /*border-top: red 20px solid;*/
    border-right: transparent 20px solid;
    border-bottom: rgba(137, 183, 250, 0.58) 20px solid;
    /*border-left: transparent 20px solid;*/
}

.triangleArc {
    position: absolute;
    bottom: 0;
    right: -40px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #89a162;
}

