.hw1Wrapper {
    text-align: center;

}

.phoneOutWrapper {
    display: inline-block;
    border: white solid 2px;
    border-radius: 25px;
    background-color: #2d2d2d;
    text-align: center;
}

.speaker {
    margin: 25px 0;
    display: inline-block;
    width: 70px;
    height: 5px;
    background-color: white;
    border-radius: 2px;
}

.context {
    padding: 10px;
    color: gold;
    font-size: 18px;
}
.context span {
    font-weight: bold;
    color: orangered;
}

