.HW13Wrapper {

}

.actionWrapper {
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.messageWrapper {
    text-align: center;
    color: gold;
    font-size: 18px;
}

.messageWrapper span {
    text-decoration: underline;
}