.buttonWrapper {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: red solid 1px;
    border-radius: 20%;
    text-align: center;
    margin-left: 5px;
    cursor: pointer;
}

.span {
    font-size: 20px;
    line-height: 20px;
}