.buttonWrapper {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: black solid 1px;
    border-radius: 20%;
    text-align: center;
    margin-left: 5px;
    cursor: pointer;
}

.span {
    font-size: 10px;
    line-height: 20px;
    vertical-align: center;
}