.homeworks4Wrapper {
}

.insideWrapper {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.stylePlus {
}

.spanError {
    font-style: italic;
}

.enterButton {
    display: inline-block;
    min-width: 60px;
}

.enterButton:not(:last-child) {
    margin-bottom: 3px;
}

.checkBoxSpan {
    font-weight: 600;
    letter-spacing: 3px;
    margin-left: 5px;
}