.homeworks4Wrapper {
    background-color: #b2b3fa;
}

.insideWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.stylePlus {
    display: inline-block;
    border: 2px solid orangered;
}

.spanError {
    font-style: italic;
}

.checkBoxSpan {
    font-weight: 600;
    letter-spacing: 3px;
    margin-left: 5px;
}