* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.applicationWrapper {
    background-image: url("https://avatanplus.com/files/resources/original/574333a06b1f6154de81aab7.jpg");
    background-size: cover;
}