.preJuniorWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.preJuniorWrapper > div {
    margin-top: 20px;
    width: 350px;
    border: gold solid 1px;
}